<#include "parts/_header.ftlh">
<body>
<#include "parts/_navbar.ftlh">
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">вахахахах</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/files/e6b1ea39-a148-4fa0-b69d-f30f8253ebf7.jpg" alt="Unsplashed background img 2">
    </div>
</div>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Твой профиль</h1>
            <div class="row center">
                <h5 class="header col s12 light">вахахахах</h5>
            </div>
            <div class="row center">
                <a href="/files/upload" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Загрузить картинку</a>
            </div>
            <br><br>

        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">вахахахах</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/files/e6b1ea39-a148-4fa0-b69d-f30f8253ebf7.jpg" alt="Unsplashed background img 2">
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <a  href="/logout" class="waves-effect waves-light btn-large pulse"><i class="material-icons left">cloud</i><i class="material-icons right">cloud</i>Logout</a>
            </div>
        </div>
    </div>
</div>

<#include "parts/_footer.ftlh">
</body>
</html>